.advantage{
  display: flex;
  gap: 30px;
}
.advantage__frame{
  width: 315px;
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.advantage__text{
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  opacity: 50%;
  
  color: $white-color;
}
.advantage__icon{
  width: 120px;
  height: 120px;
  background-color: $background-color-icon;
  border-radius: 50%;
  
  padding: 30px;
  margin-bottom: 50px;
}
.advantage__title{
  font-family: montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  
  margin-bottom: 10px;
  @include text-transform;
}