$logo-color: #BD0000;
$white-color: #FFFFFF;
$agency-color: #240000;
$background-color-icon:#460000;
$footer-color:#111111;
$info-text:#CCCCCC;
$underline-color:rgba(255, 255, 255, 0.2);
$gradient:linear-gradient(to right,
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5));
$gradient-project:linear-gradient(to right,
rgba(0, 0, 0, 0.8),
rgba(0, 0, 0, 0.8));